<mat-sidenav-container>
    <mat-sidenav mode="side" opened="true" [fixedInViewport]="true" fixedTopGap="64" style="width: 15%;">
        <mat-nav-list>
            <a mat-list-item routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
            <a mat-list-item routerLink="/station-trading" routerLinkActive="active">Station Trading</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <ng-content></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
