.center-content {
  text-align: center;
}

.form-card {
  display: inline-block;
  padding: 32px;
  width: 256px;
}

form {
  display: flex;
  flex-direction: column;
}

button {
  margin: 8px;
}

.inline-links {
    /* width: 100%; */
    /* table-layout: fixed; */
    text-align: center;
}
