<mat-card class="form-card" style="display: flex;">
    <img style="align-self: flex-start;" src="{{characterPortrait}}" />
    <div style="padding: 0px 16px;">
        <mat-card-title>{{character?.name}}</mat-card-title>            
        <mat-card-content>
            <div>
                ID: {{character?.id}}
            </div>
            <div>
                Region: {{characterLocation?.regionName}}
            </div>
            <div>
                Constellation: {{characterLocation?.constellationName}}
            </div>
            <div>
                Solar System: {{characterLocation?.solarSystemName}}
            </div>
            <div *ngIf="characterLocation?.stationId">
                Station ID: {{characterLocation?.stationId || 'None'}}
            </div>
            <div *ngIf="characterLocation?.structureName">
                Structure: {{characterLocation?.structureName || 'None'}}
            </div>
        </mat-card-content>
    </div>
    <div style="align-self: center;">
        <mat-card-title>
            Balance: {{characterWalletBalance?.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})}} ISK
        </mat-card-title>
    </div>
</mat-card>
