<mat-card class="form-card" style="display: flex;">
    <img style="align-self: flex-start;" src="{{character?.portrait}}" />
    <div style="padding: 0px 16px;">
        <mat-card-title>{{character?.name}}</mat-card-title>            
        <mat-card-content>
            <div>
                ID: {{character?.id}}
            </div>
            <div>
                Region: {{character?.location?.regionName}}
            </div>
            <div>
                Constellation: {{character?.location?.constellationName}}
            </div>
            <div>
                Solar System: {{character?.location?.solarSystemName}}
            </div>
            <div *ngIf="character?.location?.stationId">
                Station ID: {{character?.location?.stationId || 'None'}}
            </div>
            <div *ngIf="character?.location?.structureName">
                Structure: {{character?.location?.structureName || 'None'}}
            </div>
        </mat-card-content>
    </div>
    <div style="align-self: center;">
        <mat-card-title>
            Balance: {{character?.walletBalance?.toLocaleString(undefined, {minimumFractionDigits: 2, maximumFractionDigits: 2})}} ISK
        </mat-card-title>
    </div>
</mat-card>
