.stretch-badge>.mat-badge-content {
  width: auto;
  border-radius: 13px;
  right: unset !important;
  padding: 2px 6px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar .mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}