/* You can add global styles to this file, and also import other style files */
/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */

body {
  margin: 0;
}

/* app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

router-outlet {
  flex: 1;
} */

.mat-progress-spinner {
  margin: 8px;
}

/* .mat-progress-spinner circle, .mat-spinner circle {
  stroke: #FFF !important;
} */
